//项目的全局变量
$color:blue;

//左侧菜单
$base-menu-width: 260px;
$base-menu-background-color: #001529;
$base-menu-folded-width: 50px;
.el-menu-item:hover,
.el-sub-menu__title:hover {
  background-color: rgba(128, 128, 128, 0.1) !important;
  //color: #fff !important;
}

//顶部tabbar
$base-tabbar-height: 50px;
$base-tabbar-background-color: #ffffff;

//内容区
$base-content-background-color: #0000ff;
