//项目的全局变量
$color:blue;

//左侧菜单
$base-menu-width: 260px;
$base-menu-background-color: #ff0000;

//顶部tabbar
$base-tabbar-height: 50px;
$base-tabbar-background-color: #00ff00;

//内容区
$base-content-background-color: #0000ff;
